extends layout

block content
    h1= title

    ul
    each author in author_list
        li
          a(href=author.url) #{author.name}
          | (#{author.contact_info})

    else
        li There no authors.