extends layout

block content

    h1 Category: #{category.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Messages

        dl
           each message in category_messages
               dt
                 a(href=message.url) #{message.title}
               dd #{message.summary}

            else
              p this category has no messages.