extends layout

block content
  h1= title
  p Welcome to #[em Message Board], a very basic Express website developed

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Messages:] !{data.mess_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Catalogies :] !{data.cat_count}