extends layout

block content
    h1=title


    ul
    - mess_list.sort(function(a,b) { let textA = a.title.toUpperCase(); let textB=b.title.toUpperCase(); return (textA < textB)?-1: (textA>textB)?1:0;});
    each message in mess_list
      li
        a(href = message.url) #{message.title}
          | (#{ message.author.name})

    else
       li There are no messages.